.grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}
.box {
    padding: 20px;
    border-color: black;
    border: 1px;
    border-style: solid;
}